@import "tailwindcss";


@theme {

  /* ======================
     COLORS
  ====================== */

  --color-primary: #0f766e;
  --color-primary-hover: #115e59;


  --color-surface: #f8fafc;
  --color-card: #ffffff;


  --color-text: #0f172a;
  --color-text-muted: #64748b;


  --color-border: #cbd5e1;


  --color-input: #f1f5f9;


  --color-error-bg: #fee2e2;
  --color-error-text: #b91c1c;



  /* ======================
     FONT
  ====================== */

  --font-body: Inter, sans-serif;

}



:root {

  color-scheme: light;

}


body {

  background: #f8fafc;

  color: #0f172a;

  font-family: Inter, sans-serif;

}